/* No margin and padding for default */

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    display: flex;
    flex-direction: column;
}

/* Fonts */

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Configure fonts and colors */

.header > h2{
    font-size: 24px;
    color: #f9faf8;
}

.header > ul > li > a{
    color: #e5e7eb;
}

/* Links without decoration */

a{
    text-decoration: none;

}

li{
    list-style: none;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtitle{
    color: #e5e7eb;
}

.button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


/* I NEED TO CONFIGURE  THE PLACEHOLDER*/

.information > h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
}
/* I NEED TO CONFIGURE THE INFORMATION */

.information p{
    color: #e5e7eb;
}

.quote-text{
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/* I NEED TO FINISH */

/* Structure and background colors */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 200px;
    align-items: center;
    background-color: #1f2937;
}

ul{
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start-page{
    display: flex;
    background-color: #1f2937;
    padding: 125px 200px;
}

.text-and-button{
    flex-grow: 1;
    width: 50%;
}

.image{
    flex-shrink: 0;
    flex-grow: 1;
    width: 50%;
    background-color: #646363;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cubes{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cubes > div{
    border: 5px solid #3882f6;
    height: 200px;
    width: 200px;
    display: flex;
    border-radius: 25px;
}

.cubes > p{
    color: #1f2937;
    text-align: center;
    margin: 20px 0 50px;
}

.quote{
    background-color: #e5e7eb;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.quote-container{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.quote-author{
    align-self: flex-end;
    justify-self: flex-end;
}

.call-to-action{
    background-color: #3882f6;
    width: 85%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-self: center;
    margin: 50px;
    padding: 30px;
    justify-content: space-between;
}

.call-to-action button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border: 2px solid #e5e7eb;
    padding: 10px;
    border-radius: 5px;
}

.call-to-action-text{
    color: #e5e7eb;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    height: 100px;
    align-items: center;
}









