/* No margin and padding for default */

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

/* Configure .header*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background-color: #1f2937;
}

/* Links without decoration */

p, a{
    text-decoration: none;
    color: #e5e7eb;
}

li{
    list-style: none;
}

/* Configure links */

ul{
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1, h2{
    color: #f9faf8;
}

.start-page{
    display: flex;
    background-color: #1f2937;
}

.text-and-button{
    flex-grow: 1;
    width: 50%;
}

.image{
    flex-shrink: 0;
    flex-grow: 1;
    width: 50%;
    background-color: #646363;
    display: flex;
    justify-content: center;
    align-items: center;
}

